* {
  box-sizing: border-box; }

body, html {
  margin: 0;
  font-family: "Open Sans", sans-serif; }

header {
  height: 100vh;
  min-height: 500px;
  width: 100%;
  position: relative;
  background: url("./../../img/header-background.jpg");
  background-size: cover;
  color: #fff; }
  header .logo {
    display: inline-block;
    position: absolute;
    top: 2.5%;
    left: 17.5%;
    height: 42px; }
    header .logo p {
      float: right;
      top: -10px;
      font-size: 21px;
      line-height: 42px;
      margin: 0 5px; }
  header .slogan {
    position: absolute;
    display: inline;
    top: 45%;
    margin: 0 56.4% 0 17.5%;
    min-width: 400px; }
    header .slogan h1 {
      margin: 0;
      font-weight: 300;
      font-size: 3em; }
    header .slogan p {
      font-size: .7em; }
  header .pixel-perfect {
    position: absolute;
    display: inline-block;
    top: 45%;
    left: -4%;
    transform: rotate(-90deg);
    transform-origin: 100% 0%;
    text-transform: uppercase;
    font-weight: 300px;
    font-size: 10px; }
    header .pixel-perfect span {
      padding-left: 8px;
      font-weight: 600; }
  header .iphone {
    position: absolute;
    top: 77%;
    left: 67%;
    transform: translate(-50%, -50%); }

@media (max-width: 767px) {
  header .logo {
    margin-top: 5vh; }
  header .iphone {
    top: 90%;
    left: 80%; }
  header .slogan {
    top: 30%; }
    header .slogan h1 {
      font-size: 60px; }
    header .slogan p {
      font-size: 1.2em; }
    header .slogan .pixel-perfect {
      display: none; } }
.container {
  padding: 80px 15.6vw;
  position: relative; }
  .container p {
    font-size: 14px;
    color: #959595; }
  .container h2 {
    font-weight: 300;
    font-size: 35px; }
  .container p, .container h2, .container h6 {
    padding-left: 1.7vw;
    margin: 0 auto 30px; }
  .container h6 {
    font-weight: 600;
    font-size: 13px; }
  .container .start-text-wide {
    margin-top: 6%; }

.gallery p, .gallery h2, .gallery a, .gallery i {
  color: #fff;
  margin: 0 auto 30px; }
.gallery h2 {
  font-weight: 300;
  font-size: 30px; }
.gallery p {
  font-size: 13px; }
.gallery a {
  font-weight: 700;
  font-size: 14px;
  text-decoration: none;
  position: absolute;
  bottom: 0;
  left: 40px; }
.gallery i {
  position: absolute;
  bottom: 0;
  right: 40px;
  font-size: 18px; }
.gallery [class*="pic-"] {
  height: 300px;
  padding: 50px 30px;
  position: relative; }
  .gallery [class*="pic-"]:hover {
    transition: 0.5s;
    opacity: 0.6; }
.gallery .fa-heart {
  opacity: 0;
  cursor: pointer; }
  .gallery .fa-heart:hover {
    transition: 0.5s;
    opacity: 1; }
.gallery .square-1 {
  background-color: #F5989D; }
.gallery .square-2 {
  background-color: #615F7D; }
.gallery .square-3 {
  background-color: #BD8CBF; }
.gallery .square-4 {
  background-color: #82CA9C; }
.gallery .pic-1 {
  background: url("./../../img/pic-1.jpg") center/cover no-repeat; }
.gallery .pic-2 {
  background: url("./../../img/pic-2.jpg") center/cover no-repeat; }
.gallery .pic-3 {
  background: url("./../../img/pic-3.jpg") center/cover no-repeat; }

.details .pixel-perfect {
  position: absolute;
  display: inline-block;
  top: 45%;
  left: -4%;
  transform: rotate(-90deg);
  transform-origin: 100% 0%;
  text-transform: uppercase;
  font-weight: 300px;
  font-size: 10px; }
  .details .pixel-perfect span {
    padding-left: 8px;
    font-weight: 600; }

.power {
  background: url("./../../img/power-background.jpg");
  background-size: cover;
  min-height: 600px;
  position: relative; }
  .power .slogan {
    color: #fff;
    position: absolute;
    display: inline;
    top: 45%;
    margin: 0 56% 0 17%;
    min-width: 400px; }
    .power .slogan h1 {
      margin: 0;
      font-weight: 400;
      font-size: 3em; }
    .power .slogan p {
      font-size: .7em; }
    .power .slogan a {
      text-decoration: none;
      color: #fff; }

.reasons {
  background-color: #82CA9C;
  color: #fff; }
  .reasons p {
    color: #fff; }
  .reasons .pixel-perfect {
    position: absolute;
    display: inline-block;
    top: 45%;
    left: -4%;
    transform: rotate(-90deg);
    transform-origin: 100% 0%;
    text-transform: uppercase;
    font-weight: 300px;
    font-size: 10px; }
    .reasons .pixel-perfect span {
      padding-left: 8px;
      font-weight: 600; }

.plans {
  background-color: #F6F7FA; }
  .plans .plan {
    margin: 10px;
    padding: 50px 25px; }
    .plans .plan [class*="plan-"] {
      color: #fff;
      background-color: #e1e1e1;
      padding: 5px 15px;
      font-weight: 800;
      font-size: 11px;
      border-radius: 5px;
      border: none; }
    .plans .plan .buy-button {
      background-color: #82CA9C;
      padding: 15px 30px;
      font-weight: 700;
      font-size: 13px;
      color: #fff;
      border-radius: 3px;
      border: none; }
    .plans .plan i {
      padding: 5px;
      font-size: 1.8rem;
      color: #c5c5c5; }
    .plans .plan .fa-apple, .plans .plan .fa-windows {
      margin-left: 1.7vw;
      padding-left: 0; }
    .plans .plan:hover {
      background-color: #fff;
      box-shadow: 0 0 50px 3px #bbb;
      transition: 0.6s; }
      .plans .plan:hover .plan-1-button {
        background-color: #F5989D;
        transition: 0.4s; }
      .plans .plan:hover .plan-2-button {
        background-color: #BD8CBF;
        transition: 0.4s; }
      .plans .plan:hover .buy-button {
        background-color: #27ae60;
        transition: 0.4s; }

footer {
  background-color: #192431;
  color: #fff;
  font-size: 13px; }
  footer h6 {
    margin: 0;
    padding: 0; }
  footer input {
    height: 25px;
    width: 100%; }
  footer .email-input {
    margin: 0; }
  footer .submitButton {
    margin: 0;
    background-color: #8C9;
    color: #fff;
    font-size: 25px;
    cursor: pointer;
    border: none; }
  footer .contact-paragraph {
    font-size: 12px;
    color: #57697f;
    margin: 10px 0; }
  footer .send-spam {
    font-size: 12px;
    color: #57697f;
    margin: 10px 0; }
  footer ul {
    list-style: none;
    padding: 0;
    margin-left: 1.7vw; }
    footer ul li {
      padding-bottom: 5px; }
      footer ul li a {
        color: inherit;
        text-decoration: none;
        padding-bottom: 5px; }

/*# sourceMappingURL=main.css.map */
