// GLOBAL

$font-main: "Open Sans", sans-serif;

$font-plain: #959595;
$font-background: #fff;

* {
    box-sizing: border-box;
}

body, html {
    margin: 0;
    font-family: $font-main;
}

$square-1: #F5989D;
$square-2: #615F7D;
$square-3: #BD8CBF;
$square-4: #82CA9C;


// HEADER
header {
    height: 100vh;
    min-height: 500px;
    width: 100%;
    position: relative;
    background: url("./../../img/header-background.jpg");
    background-size: cover;
    color: $font-background;
    .logo {
        display: inline-block;
        position: absolute;
        top: 2.5%;
        left: 17.5%;
        height: 42px; 
        p {
            float: right;
            top: -10px;
            font-size: 21px;
            line-height: 42px;
            margin: 0 5px;
        }
    }
    .slogan {
        position: absolute;
        display: inline;
        top: 45%;
		margin: 0 56.4% 0 17.5%;
        min-width: 400px;
        h1 {
            margin: 0;
            font-weight: 300;
            font-size: 3em;
        }
        p {
            font-size: .7em;
        }
    }
    .pixel-perfect {
        position: absolute;
        display: inline-block;
        top: 45%;
        left: -4%;
        transform: rotate(-90deg);
        transform-origin: 100% 0%;
        text-transform: uppercase;
        font-weight: 300px;
        font-size: 10px;
        span {
            padding-left: 8px;
            font-weight: 600;
        }
    }
    .iphone {
        position: absolute;
        top: 77%;
        left: 67%;
        transform: translate(-50%, -50%);
    }
}

//START SECTION
.container {
    padding: 80px 15.6vw;
    position: relative;
    p {
        font-size: 14px;
        color: $font-plain;
    }
    h2 {
        font-weight: 300;
        font-size: 35px;
    }
    p, h2, h6 {
        padding-left: 1.7vw;
        margin: 0 auto 30px;
    }
    h6 {
        font-weight: 600;
        font-size: 13px;
    }
    .start-text-wide {
        margin-top: 6%;
    }
}   
//GALLERY
.gallery {
    p, h2, a, i {
		color: $font-background;
		margin: 0 auto 30px; 
	}
	h2 {
		font-weight: 300;
        font-size: 30px;
	}
	p {
        font-size: 13px;
	}
	a {
		font-weight: 700; 
		font-size: 14px;
		text-decoration: none;
		position: absolute;
		bottom: 0;
        left: 40px;
	}
	i {
		position: absolute;
		bottom: 0;
		right: 40px;
		font-size: 18px; 
	}
	[class*="pic-"] {
		height: 300px;
		padding: 50px 30px;
		position: relative;
		&:hover {
			transition: 0.5s;
			opacity: 0.6;
		}
	}
	.fa-heart {
			opacity: 0;
			cursor: pointer;
			&:hover {
				transition: 0.5s;
				opacity: 1;
			}
		}
	.square-1 {background-color: $square-1}
	.square-2 {background-color: $square-2}
	.square-3 {background-color: $square-3}
	.square-4 {background-color: $square-4}
	.pic-1 {background: url("./../../img/pic-1.jpg") center/cover no-repeat}
	.pic-2 {background: url("./../../img/pic-2.jpg") center/cover no-repeat}
	.pic-3 {background: url("./../../img/pic-3.jpg") center/cover no-repeat}
}
//DETAILS
.details {
    .pixel-perfect {
        position: absolute;
        display: inline-block;
        top: 45%;
        left: -4%;
        transform: rotate(-90deg);
        transform-origin: 100% 0%;
        text-transform: uppercase;
        font-weight: 300px;
        font-size: 10px;
        span {
            padding-left: 8px;
            font-weight: 600;
        }
    }
}

//POWER
.power {
    background: url("./../../img/power-background.jpg");
    background-size: cover;
    min-height: 600px;
    position: relative;
    .slogan {
        color: $font-background;
        position: absolute;
        display: inline;
        top:45%;
        margin: 0 56% 0 17%;
        min-width: 400px;
        h1 {
            margin: 0;
            font-weight: 400;
            font-size: 3em;
        }
        p {
            font-size: .7em;
        }
        a {
            text-decoration: none;
            color: $font-background;
        }
    }
}

