// GLOBAL

$font-main: "Open Sans", sans-serif;

$font-plain: #959595;
$font-background: #fff;

* {
    box-sizing: border-box;
}

body, html {
    margin: 0;
    font-family: $font-main;
}

.container {
    padding: 80px 15.6vw;
    position: relative;
    p {
        font-size: 14px;
        color: $font-plain;
    }
    h2 {
        font-weight: 300;
        font-size: 35px;
    }
    p, h2, h6 {
        padding-left: 1.7vw;
        margin: 0 auto 30px;
    }
    h6 {
        font-weight: 600;
        font-size: 13px;
    }
}

// HEADER
header {
    height: 100vh;
    min-height: 500px;
    width: 100%;
    position: relative;
    background: url("./../../img/header-background.jpg");
    background-size: cover;
    color: $font-background;
    .logo {
        display: inline-block;
        position: absolute;
        top: 2.5%;
        left: 17.5%;
        height: 42px; 
        p {
            float: right;
            top: -10px;
            font-size: 21px;
            line-height: 42px;
            margin: 0 5px;
        }
    }
    .slogan {
        position: absolute;
        display: inline;
        top: 45%;
		margin: 0 56.4% 0 17.5%;
        min-width: 400px;
        h1 {
            margin: 0;
            font-weight: 300;
            font-size: 3em;
        }
        p {
            font-size: .7em;
        }
    }
    .pixel-perfect {
        position: absolute;
        display: inline-block;
        top: 45%;
        left: -4%;
        transform: rotate(-90deg);
        transform-origin: 100% 0%;
        text-transform: uppercase;
        font-weight: 300px;
        font-size: 10px;
        span {
            padding-left: 8px;
            font-weight: 600;
        }
    }
    .iphone {
        position: absolute;
        top: 77%;
        left: 67%;
        transform: translate(-50%, -50%);
    }
}

//START SECTION
.start {
    .start-text-wide {
        margin-top: 6%;
    }
}
//GALLERY

