// GLOBAL

$font-main: "Open Sans", sans-serif;

$font-plain: #959595;
$font-background: #fff;

* {
    box-sizing: border-box;
}

body, html {
    margin: 0;
    font-family: $font-main;
}

$square-1: #F5989D;
$square-2: #615F7D;
$square-3: #BD8CBF;
$square-4: #82CA9C;

// HEADER
header {
    height: 100vh;
    min-height: 500px;
    width: 100%;
    position: relative;
    background: url("./../../img/header-background.jpg");
    background-size: cover;
    color: $font-background;
    .logo {
        display: inline-block;
        position: absolute;
        top: 2.5%;
        left: 17.5%;
        height: 42px; 
        p {
            float: right;
            top: -10px;
            font-size: 21px;
            line-height: 42px;
            margin: 0 5px;
        }
    }
    .slogan {
        position: absolute;
        display: inline;
        top: 45%;
		margin: 0 56.4% 0 17.5%;
        min-width: 400px;
        h1 {
            margin: 0;
            font-weight: 300;
            font-size: 3em;
        }
        p {
            font-size: .7em;
        }
    }
    .pixel-perfect {
        position: absolute;
        display: inline-block;
        top: 45%;
        left: -4%;
        transform: rotate(-90deg);
        transform-origin: 100% 0%;
        text-transform: uppercase;
        font-weight: 300px;
        font-size: 10px;
        span {
            padding-left: 8px;
            font-weight: 600;
        }
    }
    .iphone {
        position: absolute;
        top: 77%;
        left: 67%;
        transform: translate(-50%, -50%);
    }
}
@media (max-width: 767px) {
    header {
        .logo {
            margin-top: 5vh;
        }
        .iphone {
            top: 90%;
            left: 80%;
        }
        .slogan {
            top: 30%;
            h1 {
                font-size: 60px;
            }
            p {
                font-size: 1.2em;
            }
            .pixel-perfect {
                display: none;
            }
        }
    }
}

//START SECTION
.container {
    padding: 80px 15.6vw;
    position: relative;
    p {
        font-size: 14px;
        color: $font-plain;
    }
    h2 {
        font-weight: 300;
        font-size: 35px;
    }
    p, h2, h6 {
        padding-left: 1.7vw;
        margin: 0 auto 30px;
    }
    h6 {
        font-weight: 600;
        font-size: 13px;
    }
    .start-text-wide {
        margin-top: 6%;
    }
}   
//GALLERY
.gallery {
    p, h2, a, i {
		color: $font-background;
		margin: 0 auto 30px; 
	}
	h2 {
		font-weight: 300;
        font-size: 30px;
	}
	p {
        font-size: 13px;
	}
	a {
		font-weight: 700; 
		font-size: 14px;
		text-decoration: none;
		position: absolute;
		bottom: 0;
        left: 40px;
	}
	i {
		position: absolute;
		bottom: 0;
		right: 40px;
		font-size: 18px; 
	}
	[class*="pic-"] {
		height: 300px;
		padding: 50px 30px;
		position: relative;
		&:hover {
			transition: 0.5s;
			opacity: 0.6;
		}
	}
	.fa-heart {
			opacity: 0;
			cursor: pointer;
			&:hover {
				transition: 0.5s;
				opacity: 1;
			}
		}
	.square-1 {background-color: $square-1}
	.square-2 {background-color: $square-2}
	.square-3 {background-color: $square-3}
	.square-4 {background-color: $square-4}
	.pic-1 {background: url("./../../img/pic-1.jpg") center/cover no-repeat}
	.pic-2 {background: url("./../../img/pic-2.jpg") center/cover no-repeat}
	.pic-3 {background: url("./../../img/pic-3.jpg") center/cover no-repeat}
}

//DETAILS
.details {
    .pixel-perfect {
        position: absolute;
        display: inline-block;
        top: 45%;
        left: -4%;
        transform: rotate(-90deg);
        transform-origin: 100% 0%;
        text-transform: uppercase;
        font-weight: 300px;
        font-size: 10px;
        span {
            padding-left: 8px;
            font-weight: 600;
        }
    }
}

//POWER
.power {
    background: url("./../../img/power-background.jpg");
    background-size: cover;
    min-height: 600px;
    position: relative;
    .slogan {
        color: $font-background;
        position: absolute;
        display: inline;
        top:45%;
        margin: 0 56% 0 17%;
        min-width: 400px;
        h1 {
            margin: 0;
            font-weight: 400;
            font-size: 3em;
        }
        p {
            font-size: .7em;
        }
        a {
            text-decoration: none;
            color: $font-background;
        }
    }
}
//REASONS
.reasons {
    background-color: $square-4;
    color: $font-background;
    p {
        color: $font-background;
    }
    .pixel-perfect {
        position: absolute;
        display: inline-block;
        top: 45%;
        left: -4%;
        transform: rotate(-90deg);
        transform-origin: 100% 0%;
        text-transform: uppercase;
        font-weight: 300px;
        font-size: 10px;
        span {
            padding-left: 8px;
            font-weight: 600;
        }
    }
}

//PLANS
.plans {
    background-color: #F6F7FA;
    .plan {
        margin: 10px;
        padding: 50px 25px;
        [class*="plan-"] {
            color: #fff;
            background-color: #e1e1e1;
            padding: 5px 15px;
            font-weight: 800;
            font-size: 11px;
            border-radius: 5px;
            border: none;
        }
        .buy-button {
            background-color: $square-4;
            padding: 15px 30px;
            font-weight: 700;
            font-size: 13px;
            color: #fff;
            border-radius: 3px;
            border: none;
        }
        i {
            padding: 5px;
            font-size: 1.8rem;
            color: #c5c5c5;
        }
        .fa-apple, .fa-windows {
            margin-left: 1.7vw;
            padding-left: 0;
        }
        &:hover {
            background-color: #fff;
            box-shadow: 0 0 50px 3px #bbb;
            transition: 0.6s;
            .plan-1-button {
                background-color: $square-1;
                transition: 0.4s;
            }
            .plan-2-button {
                background-color: $square-3;
                transition: 0.4s;
            }
            .buy-button {
                background-color: #27ae60;
                transition: 0.4s;
            }
        }
    }
}

//FOOTER
footer {
    background-color: #192431;
    color: $font-background;
    font-size: 13px;
    h6 {
        margin: 0;
        padding: 0;
    }
    input {
        height: 25px;
        width: 100%;
    }
    .email-input {
        margin: 0;
    }
    .submitButton {
        margin: 0;
        background-color: #8C9;
        color: #fff;
        font-size: 25px;
        cursor: pointer;
        border: none;
    }
     .contact-paragraph {
        font-size: 12px;
        color: #57697f;
        margin: 10px 0;   
    }
    .send-spam {
        font-size: 12px;
        color:#57697f;
        margin: 10px 0;
    }
    ul {
        list-style: none;
        padding: 0;
        margin-left: 1.7vw;
        li {
            padding-bottom: 5px;
            a {
                color: inherit;
                text-decoration: none;
                padding-bottom: 5px;
            }
        }
    }
}

